  </div>
  <div class="footer container">
    <div class="row">
      <div class="col text-center">
        &copy; 2017 Ignat Smirnov
      </div>
    </div>
  </div>
  <script src="/bundle.js" charset="utf-8"></script>
</body>
</html>
